<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="helloworld" translate="label" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Helloworld</label>
            <tab>general</tab>
            <resource>Hichem_HelloWorld::config</resource>
            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>
                <field id="message" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message à afficher</label>
                </field>
            </group>
        </section>
    </system>
</config>
